<h2 id="heading">Book List</h2>
<div class="container-fluid">
    <div class="row">
        <table class="table table-bordered" id="tablestyle">
            <thead>
                <tr>
                    <th>S.no</th>

                    <th>Title</th>

                    <th>Author</th>

                    <th>Publisher</th>

                    <th>Category</th>

                    <th>Book Id</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books;let i=index;">
                    <td>{{i+1}}</td>

                    <td>{{book.title}}</td>

                    <td>{{book.author}}</td>

                    <td>{{book.publisher}}</td>

                    <td>{{book.category}}</td>

                    <td>{{book.bookid}}</td>

                    <td><button type="button" class="btn btn-danger" (click)="borrowBook(book.bookid)">Borrowbook</button></td>
                </tr>
            </tbody>
        </table>
        <a id="back" class="btn btn-success" routerLink="/borrower">Back</a>
    </div>
</div>