<body>
    <main class="container-fluid">
        <div class="content">
            <div class="bannar-image">

                <div class="container">
                    <center>
                        <div class="bannar-content">
                            <h1>LIBRARY MANAGEMENT SYSTEM </h1>
                            <p>Nothing is pleasanter than exploring a library.! </p>
                            <p>Books</p>
                            <br>
                            <br>

                        </div>
                    </center>
                </div>
            </div>
        </div>
    </main>
</body>